<f:layout name="Default" />

<f:section name="Title">Edit contacts "{contacts.name}"</f:section>

<f:section name="Content">
    <f:form action="update" object="{contacts}" objectName="contacts">
        <ol>
            <li>
                <label for="name">Name</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <label for="number">Number</label>
                <f:form.textfield property="number" id="number" />
            </li>
        
            <li>
                <f:form.submit value="Update" />
            </li>
        </ol>
    </f:form>
</f:section>
